apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- gotk-components.yaml
- gotk-sync.yaml
#patches:
#  - target:
#      kind: Deployment
#      name: "(source-controller|kustomize-controller|helm-controller)"
#      annotationSelector: "sharding.fluxcd.io/role notin (shard)"
#    patch: |
#      - op: add
#        path: /spec/template/spec/containers/0/args/0
#        value: --watch-label-selector=sharding.fluxcd.io/key notin (shard1, shard2)
